bin/
obj/
.vs/
node_modules/
iisnode/
package-lock.json
dist/
package-lock.json
TelemedicineApi/DanpheTelemedicineApi/Properties/PublishProfiles/FolderProfile.pubxml.user
TelemedicineApi/DanpheTelemedicineApi/Properties/PublishProfiles/FolderProfile.pubxml
TelemedicineApi/DanpheTelemedicineApi/DanpheTelemedicineApi.csproj.user
