/**
* tabs
*/

.nav-link {
    color: gray;
    font-size: 12px;
    padding: 0px;
}

.project-tab #tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #0062cc;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid !important;
    font-size: 12px;
    font-weight: bold;
}

a.custom-tabs:hover,
a.custom-tabs:active {
    color: white;
}


/**
*/

.div-userlist {
    border: 1px solid #000!important;
    border-radius: 15px!important;
}

.btn-add-contact {
    position: absolute;
    top: 0px;
    right: 0px;
}


/**
*Chat
*/

.sent-message {
    font-size: 12px;
    border-radius: 10px;
    padding: 3px;
    word-break: break-word;
    color: black;
    margin: 0px 0px 0px 15px;
    background-color: rgb(120, 224, 143);
    width: 100%;
    text-align: right;
    height: fit-content;
}

.received-message {
    font-size: 12px;
    border-radius: 10px;
    padding: 3px;
    word-break: break-word;
    color: black;
    margin: 0px 15px 0px 0px;
    background-color: rgb(130, 204, 221);
    width: 100%;
    text-align: left;
    height: fit-content;
}

.chat-close {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 40px !important;
    z-index: 1;
}