<div class="row no-margin" style="height: 100%;">
    <div class="col-lg-3 col-sm-12 div-userlist">
        <div class="col-md-12 no-padding" style="height: 100%;">
            <nav style="height: 42px;">
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    <a style="cursor: pointer;" (click)="SwitchTabContent('nav-contacts')" class="btn btn-info custom-tabs nav-item nav-link active" id="nav-contacts-tab">
                        Contacts
                    </a>
                    <a style="cursor: pointer;" (click)="SwitchTabContent('nav-meeting')" class="btn btn-info custom-tabs nav-item nav-link" id="nav-meeting-tab">
                        Meeting
                    </a>
                </div>
            </nav>
            <div class="tab-content div-contacts-tab" id="nav-tabContent" style="height:87%;">
                <div class="tab-pane fade show active" style="height:100%;" id="nav-contacts" role="tabpanel" aria-labelledby="nav-contacts-tab">
                    <div class="col-md-12 no-padding table-responsive" style="margin: 0px;height: 100%;">
                        <h4 style="text-align: center;">Contacts</h4>
                        <button (click)="ShowAddContact()" class="btn btn-sm btn-success btn-add-contact"><i
                                class="fa fa-plus"></i></button>
                        <table id="tbl-user-contacts" class="table" width="100%">
                            <tr style="text-align: center;">
                                <th>UserName</th>
                                <th>Actions</th>
                            </tr>
                            <tr *ngFor="let row of contactListTodispaly">
                                <td>{{row.username}}</td>
                                <td>
                                    <button *ngIf="(row.live && !row.busy) && !isBusy" title="Video Call" style="margin: 0px 5px;" class="btn btn-primary btn-sm" id="btn-video-call" (click)="VideoCall(row)">
                                        <i class="fa fa-video-camera"></i>
                                    </button>
                                    <button *ngIf="row.live" title="Live Chat" style="margin: 0px 5px;" class="btn btn-primary btn-sm" id="btn-live-chat" (click)="Chat(row)">
                                        <i class="fa fa-comments"></i>
                                    </button>
                                    <button *ngIf="(row.live && !row.busy) && !isBusy" title="Audio Call" style="margin: 0px 5px;" class="btn btn-primary btn-sm" id="btn-live-chat" (click)="AudioCall(row)">
                                        <i class="fa fa-phone"></i>
                                    </button>
                                    <button title="Chat History" style="margin: 0px 5px;" class="btn btn-primary btn-sm" id="btn-chat" (click)="LoadOldChat(row)">
                                        <i class="fa fa-history"></i>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade show" id="nav-meeting" role="tabpanel" aria-labelledby="nav-meetting-tab" style="height: 100%;">
                    <div class="col-md-12 no-padding table-responsive" style="height: 100%;">
                        <h4 style="text-align: center;">Meeting</h4>
                        <p>Meeting data not available..</p>
                        <!--Remove this after meeting logic creation-->
                        <!-- <table hidden id="tbl-user-contacts" class="table" width="100%">
                            <tr style="text-align: center;">
                                <th>Meeting Id</th>
                                <th>Created On</th>
                            </tr>
                            <tr *ngFor="let row of meetings" (click)="ShowMeeting(row)" id="{{row.ConferenceId}}">
                                <td>{{row.ConferenceRoomId}}</td>
                                <td>
                                    {{row.CreatedOn | date:'medium'}}
                                </td>
                            </tr>
                        </table> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9 col-sm-12">
        <div class="row" style="margin: 0px;" *ngIf="isShowChat" style="height: 85vh; overflow: auto;">
            <span (click)="CloseChat()" class="popup-close chat-close">&times;</span>
            <div class="col-lg-6" style="margin: 0px; padding-left: 20px; width: 100%; height: fit-content; text-align: center;">
                <h5>Chat History</h5>
                <div class="row" *ngFor="let m of messages" style="width: 100%; margin-bottom: 2px;">
                    <div class="sent-message" *ngIf="m.Type == 'sent'">
                        {{m.Message}}
                        <br>
                        <span style="font-size: 10px;color: gray;">
                            <b style="color:black;">{{m.Sender}}</b> {{m.Date}}
                        </span>
                        <span style="padding-left: 5px;" id="checkmark-3" title="Received">
                            <i class="fa fa-check"></i>
                        </span>
                    </div>
                    <div class="received-message" *ngIf="m.Type == 'received'">
                        {{m.Message}}
                        <br>
                        <span style="font-size: 10px;color: gray;">
                            <b style="color:black;">{{m.Sender}}</b> {{m.Date}}
                        </span>
                    </div>
                </div>
            </div>
            <div style="text-align: center;" class="col-lg-6">
                <h5>Call Details</h5>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Start Time</th>
                            <th>End Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of callDetails">
                            <td>{{row.StartTime | date : 'MMM d, y, h:mm a'}}</td>
                            <td>{{row.EndTime | date : 'MMM d, y, h:mm a'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row no-margin" *ngIf="isChat">
            <div class="col-lg-2"></div>
            <div class="col-lg-4 col-sm-10" style="height: 50vh; border: solid 1px black; padding-bottom: 4%; border-radius: 10px;">
                <message style="width: 100%; height: 100%;" [caller]="caller" (callback)="CallBack($event)"></message>
                <span (click)="CloseMessaging()" style="z-index: 1;position: absolute;top: 25px;right: 0px;" class="popup-close">&times;</span>
            </div>
        </div>
    </div>
</div>

<!-- Video Call Popup -->
<div class="popup-box" *ngIf="isVideoCall">
    <div class="popup-content">
        <span (click)="RejectVideoCall()" class="popup-close">&times;</span>
        <div class="popup-header">
            <h4>{{callingInfo.name}}</h4>Video
            <h5>{{callingInfo.content}}</h5>
        </div>
        <div *ngIf="callingInfo.type == 'receiver'" style="text-align: center;">
            <button (click)="AcceptVideoCall()" class="btn btn-success btn-sm">Accept</button>
            <button (click)="RejectVideoCall()" class="btn btn-danger btn-sm">Reject</button>
        </div>
    </div>
</div>

<!-- Add Contact Popup -->
<div class="popup-box" *ngIf="isAddContact">
    <div class="popup-content">
        <span (click)="CloseAddContact()" class="popup-close">&times;</span>
        <div class="popup-header">
            We are working on it, Use demo crediantials for full demo
        </div>
    </div>
</div>


<div class="div-audio" *ngIf="isAudioCallAccepted">
    <audio-call [caller]="caller" [userType]="userType" (callback)="Callback($event)"></audio-call>
</div>

<!-- Audio Call Popup -->
<div class="popup-box" *ngIf="isAudioCall">
    <div class="popup-content">
        <span (click)="RejectAudioCall()" class="popup-close">&times;</span>
        <div class="popup-header">
            <h4>{{callingInfo.name}}</h4>Audio
            <h5>{{callingInfo.content}}</h5>
        </div>
        <div *ngIf="callingInfo.type == 'receiver'" style="text-align: center;">
            <button (click)="AcceptAudioCall()" class="btn btn-success btn-sm">Accept</button>
            <button (click)="RejectAudioCall()" class="btn btn-danger btn-sm">Reject</button>
        </div>
    </div>
</div>