.localvideo {
    position: absolute;
    height: 20%;
    width: 20%;
    bottom: 5px;
    right: 15px;
    border-radius: 10px;
}

.remotevideo {
    width: 100%;
    height: 100%;
}

.call-btn-div {
    position: absolute;
    bottom: 10px;
    right: 50%;
}

.end-call-btn {
    color: white;
    border-radius: 50%;
    font-size: 25px;
    height: 40px;
    width: 40px;
}

.end-call-btn:hover,
.end-call-btn:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
    background-color: white;
}


/**
*Chat
*/

.sent-message {
    font-size: 12px;
    border-radius: 10px;
    padding: 3px;
    word-break: break-word;
    color: black;
    margin: 0px 0px 0px 15px;
    background-color: rgb(120, 224, 143);
    width: 100%;
    text-align: right;
    height: fit-content;
}

.received-message {
    font-size: 12px;
    border-radius: 10px;
    padding: 3px;
    word-break: break-word;
    color: black;
    margin: 0px 15px 0px 0px;
    background-color: rgb(130, 204, 221);
    width: 100%;
    text-align: left;
    height: fit-content;
}