<div class="row" style="text-align:center;margin: 0px; height:90vh; width:100%;">
    <div class="col-md-4"></div>

    <div class="col-md-3 login-div" id="div-login">
        <!--Login div-->
        <div class="row" style="margin: 10px 0px;">
            <h2 style="width:100%;">Telemedicine Login</h2>
            <form action="" style="width:100%;">
                <div class="form-group">
                    <input [(ngModel)]="uname" type="text" class="form-control" id="txt-username" style="width:100%;" placeholder="Enter Username" name="uname" required>
                </div>
                <div class="form-group">
                    <input [(ngModel)]="password" type="password" class="form-control" autocomplete="password" id="txt-password" style="width:100%;" placeholder="Enter Password" name="psw" required>
                    <i (click)="ShowPassword()" class="fa fa-eye" id="show-password" style="display: none; position: absolute; right: 5%; top: 53%;" title="Show Password"></i>
                </div>
            </form>
            <div class="form-group" style="width:100%;">
                <button class="btn btn-primary" id="btn-login" (click)="Login()" style="text-shadow: none;box-shadow: none; width:100%;">Login</button>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <!--Sample login crediantials for demo-->
        <table class="table-style" border="1" style="text-align:left;">
            <thead>
                <tr>
                    <th colspan="2"><b>Login Crediantials For Demo</b></th>
                </tr>
                <tr>
                    <th>User</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>doctor1</td>
                    <td>Doctor</td>
                </tr>
                <tr>
                    <td>patient1</td>
                    <td>Patient</td>
                </tr>
                <tr>
                    <td colspan="2"><b>Note:</b> Password id <b>pass123</b> for all users</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>